* {
    border: none;
    background: transparent;
    font-family: "Iosevka Nerd Font";
    font-size: 16;
}

.module {
    background: #181616;
    color: #c5c9c5;
    padding: 0 14px;
    margin: 4px;
    transition: none;
    border: 1px solid #c5c9c5;
}

#workspaces button:hover {
    color: #181616;
    background: #c5c9c5;
    transition: none;
}

#workspaces button {
    color: #c5c9c5;
    padding: 5px;
}

#tray menu {
    background: #181616;
    color: #c5c9c5;
    border: 1px solid #c5c9c5;
}

tooltip {
    background: #181616;
    border: 1px solid #c5c9c5;
}
