window {
  margin: 5px;
  padding: 10px;
  background-color: #181616;
  color: #c5c9c5;
  border: 1px solid #c5c9c5;
  border-radius: 4px;
  font-family: "Iosevka Nerd Font Mono";
  font-size: 20
}

#entry, #input {
  background: none;
  border: none;
  margin: 5px 0 5px 0;
  padding: 5px;
  border-radius: 4px;
}

#input:first-child * {
  color: #c5c9c5;
}

#entry:selected {
  background-color: #c5c9c5;
}

#text:selected {
  color: #181616;
}

#outer-box {
  margin: 16px;
}

#text {
  margin: 2px;
}

#img {
  margin-right: 10px;
}
