* {
  border-radius: 0px
}

window {
  background-color: #181616;
  color: #c5c9c5;
  border: 1px solid #c5c9c5;
  font-family: "Iosevka Nerd Font Mono";
  font-size: 20
}

#entry, #input {
  background: none;
  border: none;
  margin: 5px 0;
  padding: 5px;
  color: #c5c9c5;
}

#input * {
  color: #c5c9c5;
}

#entry:selected {
  background-color: #c5c9c5;
}

#text:selected {
  color: #181616;
}

#outer-box {
  margin: 1rem;
}

#img {
  margin-right: 10px;
}
