window {
  margin: 5px;
  padding: 10px;
  background-color: #11121d;
  color: #c0caf5;
  border: 1px solid #c0caf5;
}

#input {
  margin: 5px 5px 10px;
  background: none;
  border: 1px solid #c0caf5;
  color: #c0caf5;
  border-radius: 0px;
}

#entry:selected {
  border-radius: 0px;
  border: none;
  background-color: #c0caf5;
  margin: 0 5px;
}

#text:selected {
  color: #11121d;
}

#inner-box {
  /* margin: 5px; */
}

#outer-box {
  margin: 5px;
}

#scroll {
  /* margin: 5px; */
}

#text {
  margin: 2px;
}

#img {
  margin-right: 10px;
}
